/* Container geral */
:root {
  background-color: #0f0f11;;
}



.conteiner {
  min-height: 100vh;
  background: #0f0f11;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #e4e4e7;
  font-family: sans-serif;
}

/* Menu superior */
.menu {
  background: #1a1a1d;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.45);
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  background: #111113;
  border: 2px solid #2b2b2f;
  color: #fafafa;
  outline: none;
  transition: 0.2s;
}

.menu input:focus {
  border-color: #4d7cff;
  box-shadow: 0 0 6px rgba(77, 124, 255, 0.6);
}

/* Área dos módulos */
.modulos {
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.modulo {
  background: #1a1a1d;
  border-radius: 10px;
  padding: 16px;
  border: 2px solid #27272a;
  box-shadow:
    0 4px 12px rgba(0,0,0,0.5),
    inset 0 0 0 1px rgba(255,255,255,0.03);

  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Cabeçalho */
.modulo .cabecario {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modulo .cabecario p {
  font-weight: 600;
  font-size: 1.1rem;
  color: #fafafa;
}

/* Botões */
.divBtn {
  display: flex;
  gap: 8px;
}

.btnAdd {
  padding: 6px 10px;
  border-radius: 8px;
  background: #2a2a2e;
  border: 1px solid #3b3b40;
  color: #e5e5e5;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.btnAdd:hover {
  background: #343438;
  border-color: #4b4b52;
}

.btnAdd:active {
  transform: scale(0.92);
}

/* Filhos */
.filhos {
  margin-left: 20px;
  padding-left: 14px;
  border-left: 2px dashed #3b3b40;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
