:root {
    background-color: black;
}


.modulo{
    border: 2px red solid;
    background-color: rgb(24, 24, 24);
    margin: 5px;
    width: 97%;
    min-height: 3vw;
    margin: 1vw;
    color: white;
}

.cabecario{
    display: flex;
    flex-direction: row;
}

.btnAdd{
   margin-left: auto;
   width: 2.5vw;
   height: 2.5vw;
   background-color: rgb(32, 32, 32);
   color: white;
}